body{
    font-family: 'Poppins', sans-serif
}
#top-banner{
    display: flex;
    
}
#top-banner{
    background-image:url(../Image/image-5.jfif);
    
    
}
.first-header{
    width: 50%;
    margin: 50px;
    padding: 0px 50px 0px 50px;
}
.first-header h1{
    font-size: 50px;
}
.first-header span{
    color: rgb(87, 95, 179);
}
.first-header a{
    text-decoration: none;
    background-color: rgb(241, 245, 239);
    padding: 7px 15px;
    border-radius: 6px;
}
.second-header{
    width: 50%;
}
.second-header img{
    width: 80%;
    padding: 100px 50px 0px 50px;
}